{% extends "finance/base.html" %}
{% load static %}

{% block content %}
  <h2 class="text-2xl font-semibold text-brand-text-primary mb-2">Olá, {{ user.username }}.</h2>
  {% if user.perfil.nome %}
  {% elif not user.perfil.nome %}
  <h3 class="text-lg font-normal text-brand-text-primary mb-4">
    Você ainda não concluiu seu cadastro,
    <a href="{% url 'atualizar-dados' %}" class="underline text-brand-accent hover:text-blue-800 transition-all">clique aqui</a>
    para finalizar.
  </h3>
  {% endif %}
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
    <div class="bg-brand-medium p-6 rounded-lg shadow-lg">
      <div class="flex items-center justify-between">
        <h3 class="text-brand-text-secondary">Entrada Total</h3>
        <i class="bi bi-arrow-up-right text-green-500"></i>
      </div>
      <div class="flex items-baseline justify-between mt-4">
        <p class="text-3xl font-bold text-green-500">R$ 0,00</p>
        <span class="bg-green-500 bg-opacity-20 text-green-400 text-xs font-semibold px-2.5 py-0.5 rounded-full">0.00%</span>
      </div>
    </div>

    <div class="bg-brand-medium p-6 rounded-lg shadow-lg">
      <div class="flex items-center justify-between">
        <h3 class="text-brand-text-secondary">Saída Total</h3>
        <i class="bi bi-arrow-down-right text-red-500"></i>
      </div>
      <div class="flex items-baseline justify-between mt-4">
        <p class="text-3xl font-bold text-red-500">R$ 0,00</p>
        <span class="bg-red-500 bg-opacity-20 text-red-400 text-xs font-semibold px-2.5 py-0.5 rounded-full">0.00%</span>
      </div>
    </div>
  </div>

  <div class="bg-brand-medium p-4 md:p-6 rounded-lg shadow-lg">
    <div class="flex items-center justify-between mb-4">
      <h3 class="text-lg font-semibold text-white">Últimas transações</h3>
      <i class="bi bi-arrow-down-up"></i>
    </div>

    <div class="overflow-x-auto">
      <table class="w-full min-w-[640px] text-left">
        <thead class="border-b border-brand-light">
          <tr>
            <th scope="col" class="py-3 px-4 text-xl font-normal text-brand-text-primary">Descrição</th>
            <th scope="col" class="py-3 px-4 text-xl font-normal text-brand-text-primary">Pago a</th>
            <th scope="col" class="py-3 px-4 text-xl font-normal text-brand-text-primary">Categoria</th>
            <th scope="col" class="py-3 px-4 text-xl font-normal text-brand-text-primary">Valor</th>
            <th scope="col" class="py-3 px-4 text-xl font-normal text-brand-text-primary">Tipo pagamento</th>
            <th scope="col" class="py-3 px-4 text-xl font-normal text-brand-text-primary text-center">Pago?</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-brand-light">
            <td class="py-4 px-4 text-sm text-brand-text-secondary">academia</td>
            <td class="py-4 px-4 text-sm text-brand-text-secondary">mensalidade...</td>
            <td class="py-4 px-4 text-sm text-brand-text-secondary">Arena</td>
            <td class="py-4 px-4 text-sm text-brand-text-secondary">Academia</td>
            <td class="py-4 px-4 text-sm text-brand-text-secondary">À vista</td>
            <td class="py-4 px-4 text-sm text-brand-text-secondary flex justify-center">
              <span class="h-6 w-6 flex items-center justify-center rounded-full"><i class="bi bi-check-circle text-green-500"></i></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
