{% extends "finance/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <h2 class="text-2xl font-semibold text-brand-text-primary">Cadastro</h2>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}

        <div class="flex justify-end">
            <button class="my-4 bg-green-400 bg-opacity-20 p-2 rounded border border-green-400 text-green-400 hover:bg-opacity-30 transition-colors whitespace-nowrap" type="submit">Cadastrar</button>
        </div>
    </form>

{% endblock content %}